<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Company Review</title>
  <link rel="stylesheet" href="style.css">
 
</head>
<body>
  <h1>Add a Review</h1>
  <form action="/submit-review" method="post">
    <label for="companyName">Company Name:</label>
    <input type="text" name="companyName" required><br/>
    <br>
    <label for="pros">Pros:</label> 
    <textarea name="pros" required></textarea><br/>
    <br>
    <label for="cons">Cons:</label>
    <textarea name="cons" required></textarea><br/>
    <br>
    <label for="rating">Rating:</label>
   
    <div class="star-rating">
     
        <input type="radio" id="star5" name="rating" value="5" required>
        <label for="star5"></label>
        <input type="radio" id="star4" name="rating" value="4" required>
        <label for="star4"></label>
        <input type="radio" id="star3" name="rating" value="3" required>
        <label for="star3"></label>
        <input type="radio" id="star2" name="rating" value="2" required>
        <label for="star2"></label>
        <input type="radio" id="star1" name="rating" value="1" required>
        <label for="star1"></label>
      </div>
      <br/>
    <button type="submit">Submit Review</button>
  </form>
  <form action="/" method="GET">
    <label for="companyName" class="search-label" >Search by Company Name:</label><br/>
    <input type="text" id="companyName" name="companyName" class="search-input">
    <button type="submit" class="search-button">Search</button>
  </form>
  
  <h2>Search Results</h2>
  
  <% function displayStars(rating) {
    const fullStars = '★'.repeat(rating);
    const emptyStars = '☆'.repeat(5 - rating);
    return fullStars + emptyStars;
  } %>
  
  <br>
  
  <% companies.forEach(company => { %>
    <div id="search-result">
      <h2><%= company.companyName %></h2>
      <p>Pros: <%= company.pros %></p>
      <p>Cons: <%= company.cons %></p>
      <p>Rating: <%= displayStars(company.rating) %></p>
    </div>
  <% }); %>
  
  

</body>
</html>
