<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Company Review</title>
  <style>
     .star-rating input {
      display: none;
    }

    .star-rating label {
      font-size: 24px;
      cursor: pointer;
      color: grey; 
    }

    .star-rating label::before {
      content: '☆';
    }

    .star-rating input:checked ~ label::before {
      content: '★';
      color: gold;
    }
    label{
    margin-right: 20px;
    }
  </style>
</head>
<body>
  <h1>Add a Review</h1>
  <form action="/submit-review" method="post">
    <label for="companyName">Company Name:</label>
    <input type="text" name="companyName" required><br/>
    <br>
    <label for="pros">Pros:</label> 
    <textarea name="pros" required></textarea><br/>
    <br>
    <label for="cons">Cons:</label>
    <textarea name="cons" required></textarea>
    <br>
    <label for="rating">Rating:</label>
    <!-- <input type="number" name="rating" required min="1" max="5"> -->
    <div class="star-rating">
        <input type="radio" id="star1" name="rating" value="1" required>
        <label for="star1"></label>
        <input type="radio" id="star2" name="rating" value="2" required>
        <label for="star2"></label>
        <input type="radio" id="star3" name="rating" value="3" required>
        <label for="star3"></label>
        <input type="radio" id="star4" name="rating" value="4" required>
        <label for="star4"></label>
        <input type="radio" id="star5" name="rating" value="5" required>
        <label for="star5"></label>
      </div>

    <button type="submit">Submit Review</button>
  </form>
  <form action="/" method="GET">
    <label for="companyName">Search by Company Name:</label>
    <input type="text" id="companyName" name="companyName">
    <button type="submit">Search</button>
  </form>
  
  <h2>Search Results</h2>
  
  <% function displayStars(rating) {
    const fullStars = '★'.repeat(rating);
    const emptyStars = '☆'.repeat(5 - rating);
    return fullStars + emptyStars;
  } %>
  
  <br>
  
  <% companies.forEach(company => { %>
    <div>
      <h2><%= company.companyName %></h2>
      <p>Pros: <%= company.pros %></p>
      <p>Cons: <%= company.cons %></p>
      <p>Rating: <%= displayStars(company.rating) %></p>
    </div>
  <% }); %>
  
  <script>
       document.addEventListener('DOMContentLoaded', function () {
      const starInputs = document.querySelectorAll('.star-rating input');

      starInputs.forEach(input => {
        input.addEventListener('change', function () {
          
          if (this.checked) {
            const clickedIndex = Array.from(starInputs).indexOf(input);

           
            starInputs.forEach((starInput, index) => {
              starInput.value = index >= clickedIndex + 1 ? index+1 : 0;
            });
          }
        });
      });
    });
  </script>
</body>
</html>
