<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sign In Screen</title>
    <link rel="stylesheet" href="/css/style.css" />
    <script src="/js/signup.js"></script>
  </head>
  <body>
    <h1>Sign In Form</h1>
    
    <form action="/user/signin" method="POST" onsubmit="return validateForm()">
  
        <div class="message" id="loginMessage">
            <% if (message) { %>
              <p><%= message %></p>
            <% } %>
          </div>
      <label for="emailid">Email Id:</label>
      <input type="email" id="email" name="emailid" />
      <span id="email-error" class="validation-error"></span>

      <label for="password">Password:</label>
      <input type="password" id="password" name="password" />
      <span id="password-error" class="validation-error"></span>
      
      <button type="submit">SignIn</button>
      <a href="./signup">Go to SignUp Screen</a>
      
    </form>
    
    
   

      
  </body>
</html>
