<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sign Up</title>
    <link rel="stylesheet" href="/css/style.css" />
  </head>
  <body>
    <form id="signUpForm" action="/user/signup" method="POST">
      <label
        >Email: <input type="email" name="email" id="email" required
      /></label>
      <label
        >Password:
        <input type="password" name="password" id="password" required
      /></label>
      <label
        >Confirm Password:
        <input
          type="password"
          name="confirmPassword"
          id="confirmPassword"
          required
      /></label>
      <label
        >Username: <input type="text" name="username" id="username" required
      /></label>

      <button type="submit">Sign Up</button>
      <p class="error-message" id="errorMessage"></p>
    </form>

    <script>
      document
        .getElementById("signUpForm")
        .addEventListener("submit", async function (event) {
          event.preventDefault();

          const email = document.getElementById("email").value;
          const password = document.getElementById("password").value;
          const confirmPassword =
            document.getElementById("confirmPassword").value;
          const username = document.getElementById("username").value;
          const errorMessage = document.getElementById("errorMessage");

          if (!isValidEmail(email)) {
            errorMessage.textContent = "Please enter a valid email address.";
          } else if (password.length < 8) {
            errorMessage.textContent =
              "Password must be at least 8 characters long.";
          } else if (password !== confirmPassword) {
            errorMessage.textContent = "Passwords do not match.";
          } else if (username.trim() === "") {
            errorMessage.textContent = "Username cannot be empty.";
          } else {
            errorMessage.textContent = "";

            try {
              const authToken = localStorage.getItem("jwtToken");
              console.log("Autho", authToken);

              const response = await fetch("/user/signup", {
                method: "POST",
                headers: {
                  "Content-Type": "application/json",
                  authorization: "Bearer " + authToken,
                },
                body: JSON.stringify({
                  email,
                  password,
                  confirmPassword,
                  username,
                }),
              });

              const data = await response.json();

              if (response.ok) {
                const token = data.token;

                localStorage.setItem("jwtToken", token);

                window.location.href = "/user/signin";
              } else {
                errorMessage.textContent = data.message;
              }
            } catch (error) {
              console.error("Error during signup:", error);
              errorMessage.textContent = "Internal Server Error";
            }
          }
        });

      function isValidEmail(email) {
        const emailRegex = /^[^\s@]+@[^\s@]+\.[^\s@]+$/;
        return emailRegex.test(email);
      }
    </script>
  </body>
</html>
