body {
    font-family: 'Arial', sans-serif;
    background-color: #faf9f8;
    padding: 20px;
}

form {
    margin-bottom: 20px;
}

button{
    margin-top: 15px;
   
}

input{
    width: 200px; 
}

.star-rating {
    display: inline-block;
    margin-left: 60px;
}

.star-rating input {
    display: none;
   
}

.star-rating label {
    font-size: 24px;
    color: #53524e;
    cursor: pointer;
}

h1{
display: block;
text-align: center;
}

textarea{
    margin-top: 5px;
    height: 50px;
    width: 200px;
    margin-left: 5rem;
}


.star-rating label::before {
    content: '☆';
    
  }

  .star-rating input:checked ~ label::before {
    content: '★';
    color: gold;
  }
  label{
  margin-right: 20px;
  }

 

 #search-result{
    display: block;
    
 }


